#main-footer{
    background:#14adab; 
   
}
#footer-info{
    color:#fff;
}
#footer-bottom {
    background-color: #4baeb3;
    .et-social-icons {
        float: right;
            .et-social-icon a{
                color:#fff;
                font-size:18px;
        }
    }
}